<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>5-Color Magic</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-70773-1");
		pageTracker._trackPageview();
		} catch(err) {}</script>
	</head>
	<body>
		<div id="website">
			<div id="page_header">
				<h1><img src="<%= Picombo::Url.base %>images/5c-logo.png" alt="5-Color Magic" style="height: 40px; padding-right: .25em; padding-top: .1em;" />5-Color™ Magic</h1>
				<ul id="nav">
					<li><a href="<%= Picombo::Url.base %>">Home</a></li>
					<li><a href="<%= Picombo::Url.base %>page/banned">Banned &amp; Restricted</a></li>
					<li><a href="http://forum.5-color.com/">Forums</a></li>
					<li><a href="<%= Picombo::Url.base %>page/contact">Contact</a></li>
					<% if Picombo::Auth.logged_in? %><li><a href="<%= Picombo::Url.base %>user/logout">Logout</a></li><% end %>
				</ul>
			</div>
			<div id="page_content">
				<%= @body %>
			</div>
			<div id="page_footer">
				All Content © Copyright 2009 5-Color™ Magic. All Rights Reserved.
			</div>
		</div>
	</body>
</html>