<h2>Contact</h2>
<ul>
	<li><strong>Twitter:</strong> <a href="http://twitter.com/5color">http://twitter.com/5color</a></li>
	<li><strong>Email:</strong> <a href="mailto:<%= Picombo::Html.email('contractfrombelow@gmail.com')%>"><%= Picombo::Html.email('contractfrombelow@gmail.com')%></a></li>
		<li><strong>Forum:</strong> <a href="http://forum.5-color.com">http://forum.5-color.com/</a></li>
</ul>