<h2>User Login</h2>
<% if ! @error.empty? %><p><%= @error %></p><% end %>
<form action="<%= Picombo::Url.base%>user/login" method="post">
	<ul>
		<li><label for="username">Username:</label> <input name="username" /></li>
		<li><label for="password">Password:</label> <input type="password" name="password" /></li>
		<li><input type="submit" value="Login"></li>
	</ul>
</form>
<%= Picombo::Auth.logged_in?.inspect %>